<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= data.title%></title>
	 <script src="https://khalti.com/static/khalti-checkout.js"></script>
	 
</head>
<body>
    <div class="container pt-4">
       <div class="row m-0">
        <div class="col-3 sticky-top">
            <p style="text-secondary">Try more</p>
            <a ng-repeat="project in projects | limitTo:3" href="/projectdetails/{{project._id}}" class="col-4 mb-3">
                <div class="col-12 p-0">
                    <img src="/uploads/{{project.file}}" width="100%" height="100" alt="">
                    <div class=" col-12 p-0 border-bottom mb-3">
                           <p class="text-dark m-0 text-truncate ">{{project.title}}</p>
                           <p class="text-danger mb-1">{{project.name}}</p>
                           <p class="text-danger mb-1 text-truncate">{{project.description}}</p>
                           <p class="text-secondary m-0">{{project.type}}</p>
                           <p class="text-danger mb-1">{{project.created | date}}</p>
                     </div>
               </div>
               </a>
        </div>
        <div class="col-9">
            <div class="col-12">
                <h1><%= data.name%></h1>
            <small><%= data.created%></small>
            <%if(isLoggedIn){%>
			
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="top:50px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">INVEST NOW</h5>
		
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<button id="payment-button" style="background-color: #773292; cursor: pointer; color: #fff; border: none; padding: 5px 10px; border-radius: 2px">Pay with Khalti</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

                <%if(session.usertype=='inv_'){%>
                
				
				<!-- Button trigger modal -->
<button type="button" class="float-right btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  INVEST NOW
</button>
               <%}%>
            <%}%>
            <img src="/uploads/<%= data.file%>" width="100%" height="500px"  class="rounded p-2 border border-secondary mb-3">
            <br/>
            <h1><%= data.title%></h1>
            <p><%= data.description%></p>
            </div>
            <p class="col-12">Post your comments</p>
            <div class="row m-0">
                <div class="col-6">
                    <input type="text" placeholder="Name here" class="form-control">
                </div>
                <div class="col-6">
                    <input type="text" placeholder="Title here" class="form-control">
                </div><br>
                <div class="col-12 mt-2">
                    <textarea name="" id=""  class="form-control" placeholder="Describe detail about your thought">
                    </textarea>
                </div>
                <div class="col-6 mt-2">
                    <button class="btn btn-primary">Post Comment</button>
                </div>
                <hr>
                <div class="col-12 p-4 bg-secondary mt-4 rounded">
                 <p style="text-white">Comments here</p>
                </div>
            </hr>
            </div>
        </div>
       </div>
    </div>
</body>

 <script>
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_6d92a5b26f4546b7946f8534c99beaff",
            "productIdentity": "test_secret_key_acbac69a420e46c892621a6d5f690f64",
            "productName": "Investment",
            "productUrl": "/projectdetails/<%= data.id%>",
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            checkout.show({amount: 1000});
        }
    </script>
	
	
</html>     